<div class="content with-gutter">

  <h1>Editing Funding Application</h1>

  <%= render 'questions_form', funding_application: @funding_application %>

  <%= link_to 'Show', @funding_application %> |
  <%= link_to 'Back', funding_applications_path %>

</div>
