<div class="content with-gutter">

  <h1>New Funding Application</h1>

  <%= render 'form', funding_application: @funding_application %>

  <%= link_to 'Back to Application Dashboard', funding_applications_path %>

</div>
