
<section class="hero">

  <div class="hero__content">
    <p>XXYYZZ</p>
  </div>

</section>

<section class="landing-page-section">

  <div class="landing-page-section__content">
    <p>XXYYZZ</p>
  </div>

</section>

<section class="landing-page-section">

  <div class="landing-page-section__content">
    <p>XXYYZZ</p>
  </div>

</section>

<section class="landing-page-section">

  <div class="landing-page-section__content">
    <p>XXYYZZ</p>
  </div>

</section>

<section class="landing-page-section">

  <div class="landing-page-section__content">
    <p>XXYYZZ</p>
  </div>

</section>
