<div class="content with-gutter">

  <%= link_to 'Funding Applications', funding_applications_path %><br>
  <%= link_to 'Application Submissions', funding_application_submissions_path %><br>
  <%= link_to "Syndicate Dashboard", syndicates_path %>

</div>
