<div class="content with-gutter">

  <% current_user.votable_funding_application_submissions.each do |submission| %>

    <%= render 'funding_application_submissions/list_item', submission: submission  %>

  <% end %>

</div>
