<div class="content with-gutter">
  <h1>Welcome to my app!</h1>
  <p>Sign up here.</p>

  <section class="content__section">

    <div class="content__section__header">
      <header class="content__section__header__text">Title</header>
    </div>

    <div class="content__section__main">

      XXYYZZ
    </div>

  </section>

</div>
