<div class="content with-gutter">

  <div class="content__section__header">
    <h1>Editing Funding Application Submission</h1>
  </div>

  <p><span style="font-weight: 600;">Applicant Email:</span> <%= @funding_application_submission.user.email %></p>

  <br>

  <%= render 'form', funding_application_submission: @funding_application_submission %>

</div>

<%= link_to 'Show', @funding_application_submission %> |
<%= link_to 'Back', funding_application_submissions_path %>
