<h1>Editing Funding Application Submission</h1>

<%= render 'form', funding_application_submission: @funding_application_submission %>

<%= link_to 'Show', @funding_application_submission %> |
<%= link_to 'Back', funding_application_submissions_path %>
