<div class="content with-gutter">

  <div class="content__section">
    <div class="content__section__header">
      <h1><%= @funding_application.headline %></h1>
      <p class="content__section__header__lite"><%= @funding_application.additional_information %></p>
    </div>

    <%= render 'form', funding_application_submission: @funding_application_submission %>

  </div>

</div>
