
$navigation-background: #1A237E
$navigation-box-shadow: 0px 1px 3px rgba(0,0,0,0.1)
$navigation-border-bottom: 1px solid rgba(0,0,0,0.2)
$navigation-height: 60px
$navigation-link-color: rgba(255,255,255,0.9)
$navigation-link-padding: 10px

$secondary-navigation-background: #fff
$secondary-navigation-box-shadow: 0 2px 10px rgba(0,0,0,.2)

.navigation
  background: $navigation-background
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  height: $navigation-height
  box-shadow: $navigation-box-shadow
  border-bottom: $navigation-border-bottom
  &__left, &__right
    display: inline-block
  &__right
    position: absolute
    right: 0px
  &__link
    display: inline-block
    line-height: ($navigation-height - $navigation-link-padding * 2)
    font-size: 14px
    padding: $navigation-link-padding
    text-decoration: none
    color: $navigation-link-color
    font-weight: 600
    letter-spacing: 0.5px
    &:hover
      text-decoration: none
      color: $navigation-link-color

.secondary-navigation
  background: $secondary-navigation-background
  position: fixed
  top: $navigation-height
  left: 0px
  right: 0px
  height: $navigation-height
  box-shadow: $secondary-navigation-box-shadow
  border-bottom: $navigation-border-bottom
  &__content
    margin: 0 auto
    max-width: 1200px
    padding: 14px
    &__button
      line-height: 20px
      padding: 5px 20px
      border: 1px solid rgba(0,0,0,0.1)
      display: inline-block
      border-radius: 25px
      margin-right: 20px
      &__number-badge
        display: inline-block
        height: 20px
        border-radius: 50%
        font-size: 12px
        line-height: 20px
        text-align: center
        background: #000
        color: #fff
        min-width: 20px
        margin-left: 5px

.content-container
  margin-top: ($navigation-height*2)
