@import 'vars'

$navigation-height: 70px
$navigation-background: #000046
$navigation-background-gradient: #1CB5E0, #000046

$navigation-link-color: #fff
$navigation-link-padding: 10px

$navigation-box-shadow: 0px 1px 3px rgba(0,0,0,0.1)
$navigation-border-bottom: 1px solid rgba(0,0,0,0.2)

$secondary-navigation-background: #111
$secondary-navigation-box-shadow: 0 2px 10px rgba(0,0,0,.2)

.navigation
  background: $navigation-background
  background: #000046  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $navigation-background-gradient) /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $navigation-background-gradient) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  height: $navigation-height
  box-shadow: $navigation-box-shadow
  border-bottom: $navigation-border-bottom
  z-index: 99
  &__left, &__right
    display: inline-block
  &__right
    position: absolute
    right: 0px
  &__link
    display: inline-block
    line-height: ($navigation-height - $navigation-link-padding * 2)
    font-size: 16px
    text-shadow: 0px 1px 1px rgba(0,0,0,0.1)
    padding: $navigation-link-padding
    text-decoration: none
    color: $navigation-link-color
    font-weight: 500
    letter-spacing: 0.5px
    &:hover
      text-decoration: none
      color: $navigation-link-color

.secondary-navigation
  background: $secondary-navigation-background
  z-index: 100
  position: fixed
  top: $navigation-height
  left: 0px
  right: 0px
  height: $navigation-height
  box-shadow: $secondary-navigation-box-shadow
  border-bottom: $navigation-border-bottom
  &__content
    margin: 0 auto
    max-width: $content-width
    padding: ($navigation-height - 30px - 2px) / 2
    &__button
      line-height: 20px
      padding: 5px 20px
      border: 1px solid #fff
      color: #fff
      display: inline-block
      border-radius: 25px
      margin-right: 20px
      &__number-badge
        display: inline-block
        height: 20px
        border-radius: 50%
        font-size: 12px
        line-height: 20px
        text-align: center
        background: #000
        color: #fff
        min-width: 20px
        margin-left: 5px

.content-container
  margin-top: ($navigation-height*2)
