<div class="secondary-navigation">
  <div class="secondary-navigation__content">
    <a class="secondary-navigation__content__button" href="<%= votable_project_index_path %>">
      <span>New Pitches</span>
      <span class="secondary-navigation__content__button__number-badge">12</span>
    </a>
    <a class="secondary-navigation__content__button">Funding Votes</a>
    <a class="secondary-navigation__content__button">Active Projects</a>
  </div>
</div>
