<div class="secondary-navigation">
  <div class="secondary-navigation__content">
    <a class="secondary-navigation__content__button">
      <span>Vote on New Submissions</span>
      <span class="secondary-navigation__content__button__number-badge">12</span>
    </a>
    <a class="secondary-navigation__content__button">Vote on Finalists</a>
    <a class="secondary-navigation__content__button">Active Projects</a>
  </div>
</div>
