<div class="content__page-header">
  <h1>Settings</h1>

  <ul class="horizontal-list subnav">
    <li><%= link_to 'Account', account_settings_path, class:'subnav__link'%></li>
    <li><%= link_to 'Edit Profile', edit_my_profile_path, class:'subnav__link'%></li>
    <li><%= link_to 'Payment Methods', edit_payment_methods_path, class:'subnav__link'%></li>
  </ul>
</div>
