<div class="content with-gutter">

  <%= render 'accounts/accounts_page_header' %>

  <div class="form-container">

    <div class="field">
      <label>Current Payment Method:</label><br/>
      <p><%= @default_source.brand + " ending in " + @default_source.last4.to_s %></p>

    </div>

    <div class="slide-down-container" id="new-payment-method">

      <div class="field">
        <label>Enter Your New Payment Information:</label><br/>
        <div class="card card__body">

          <%= form_tag update_payment_information_path do %>
            <%= render 'forms/credit_card_form' %>
            <input type="submit" class="button wide" value="Update Payment Information"></input>
          <% end %>

        </div>

      </div>

    </div>

    <a class="button click-to-slide-down hide-on-click" data-slide-down-id="new-payment-method">Change Payment Information</a>

  </div>

</div>
